@use "../../scss/" as *;

.header {
  height: 80px;
  display: flex;
  align-items: center;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 48px;
    font-size: 16px;
    @include mobile {
      padding-inline: 16px;
    }
    
    .nav-left {
      display: flex;
      align-items: center;

      .nav-logo {
        display: flex;
        align-items: center;
      }

      .nav-links {
        display: flex;
        margin-left: 64px;
        list-style: none;
        gap: 40px;
        font-weight: 700;

        @include mobile {
          display: none;
        }

        li {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $medium-gray-color;
          position: relative;
          // user-select: none;
          cursor: pointer;
        }
        li:hover {
          color: $almost-black-color;
        }
      }

    }

    .mobile-menu-btn {
      display: none;
      @include mobile {
        display: flex;
        cursor: pointer;
        z-index: 999;
      }
    }
    .mobile-menu {
      display: none;
      @include mobile {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $almost-white-color;
        padding: 80px 32px;
      }
      .mobile-links {
        @include mobile {
          display: flex;
          flex-direction: column;
          gap: 16px;
          list-style: none;
          
          li {
            display: flex;
            flex-direction: column;
            color: $medium-gray-color;
            cursor: pointer;

            p {
              display: flex;
              align-items: center;
              gap: 16px;
            }
            .mobile-sub {
              display: none;
              flex-direction: column;
              gap: 16px;
              margin: 16px;
            }
          }
        }
      }
    }
    .sub-menu {
      display: none;
      position: absolute;
      flex-direction: column;
      background-color: white;
      gap: 1rem;
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
      padding: 1rem;
      border-radius: 10px;

      .sub-link {
        display: flex;
        align-items: center;
        width: 150px;
        gap: 8px;
      }
      &.one {
        bottom: -170px;
        right: 0;
      }
      &.two {
        bottom: -136px;
      }
    }
    .active .arrow {
      transform: rotate(180deg);
      transition: 0.2s;
    }
    .active-menu {
      display: flex !important;
    }


    .nav-right {
      @include mobile {
        display: none;
      }

      .outlined-btn,
      .transparent-btn {
        padding: 16px 32px;
        border-radius: 15px;
        color: $medium-gray-color;
        cursor: pointer;
        background: transparent;
      }
      .transparent-btn {
        border: none;
      }
      .transparent-btn:hover {
        color: $almost-black-color;
        font-weight: 700;
      }
      .outlined-btn {
        border: 1px solid $almost-black-color;
      }
      .outlined-btn:hover {
        color: $almost-black-color;
        font-weight: 700;
      }
    }
  }
}
