@use "./scss/" as *;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%; // 16px -> 1rem = 1 px
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  background-color: $body-bg;
  color: $txt-color;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: $txt-color;
  font-size: 1rem;
}
a:hover {
  color: $main-color;
}

img {
  max-width: 100%;
}

.overflow {
  @include mobile {
    background-color: black;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    opacity: 0.7;
  }
}

.active-menu {
  display: flex !important;
}